<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="shoppersStopTestCase.invoiceReport"/>
      <class name="shoppersStopTestCase.salesSummeryReport"/>
      <class name="shoppersStopTestCase.dailySalesReport"/>
      <class name="shoppersStopTestCase.hourlySalesReport"/>
      <class name="shoppersStopTestCase.Login"/>
      <class name="shoppersStopBase.TestBase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
